<footer class="footer">
  <div class="container footer__grid">
    <div class="footer__col">
      <a href="./#home" class="logo footer__logo">
        <span class="logo__accent">Clariq</span>-ova
      </a>
      <p class="footer__text">
        Инновационная образовательная платформа для тех, кто готов переосмыслить подход к развитию в IT.
      </p>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Навигация</h4>
      <ul class="footer__list">
        <li><a href="./#home">Главная</a></li>
        <li><a href="./#courses">Курсы</a></li>
        <li><a href="./#mentors">Менторы</a></li>
        <li><a href="./#contact">Контакты</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Юридическая информация</h4>
      <ul class="footer__list">
          <li><a href="./privacy.html">Privacy Policy</a></li>
          <li><a href="./cookies.html">Cookie Policy</a></li>
          <li><a href="./terms.html">Terms of Service</a></li>
          <li><a href="./return.html">Return Policy</a></li>
          <li><a href="./disclaimer.html">Disclaimer</a></li>
          <li><a href="./personal-data-policy.html">Data Policy</a></li>
      </ul>
    </div>

    <div class="footer__col">
      <h4 class="footer__title">Контакты</h4>
      <ul class="footer__contact-info">
        <li><i class="fa-solid fa-location-dot"></i> 24 Rue de Rivoli, 75004 Paris, France</li>
        <li><i class="fa-solid fa-phone"></i> +33 1 42 74 90 00</li>
        <li><i class="fa-solid fa-envelope"></i> support@clariq-ova.blog</li>
      </ul>
    </div>
  </div>
  <div class="footer__bottom container">
    <p>&copy; 2026 Clariq-ova. Все права защищены. Предложение активно только в странах ЕС.</p>
  </div>
</footer>