<header class="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <span class="logo__accent">Zelux</span>-beam
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./#home" class="nav__link">Home</a></li>
        <li><a href="./#courses" class="nav__link">Courses</a></li>
        <li><a href="./#methodology" class="nav__link">Methodology</a></li>
        <li><a href="./#mentors" class="nav__link">Mentors</a></li>
        <li><a href="./#blog" class="nav__link">Blog</a></li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--header">Contact Us</a>

    <button class="burger" id="burgerBtn" aria-label="Menu">
      <span></span>
      <span></span>
    </button>
  </div>
</header>

<div class="mobile-menu" id="mobileMenu">
  <nav class="mobile-menu__nav">
    <a href="./#home" class="mobile-menu__link">Home</a>
    <a href="./#courses" class="mobile-menu__link">Courses</a>
    <a href="./#methodology" class="mobile-menu__link">Methodology</a>
    <a href="./#mentors" class="mobile-menu__link">Mentors</a>
    <a href="./#blog" class="mobile-menu__link">Blog</a>
    <a href="./#contact" class="btn btn--header">Get Started</a>
  </nav>
</div>