<header class="header">
  <div class="container header__container">
    <a href="./#home" class="logo">
      <span class="logo__accent">Clariq</span>-ova
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./#home" class="nav__link">Главная</a></li>
        <li><a href="./#courses" class="nav__link">Курсы</a></li>
        <li><a href="./#methodology" class="nav__link">Методология</a></li>
        <li><a href="./#mentors" class="nav__link">Менторы</a></li>
        <li><a href="./#blog" class="nav__link">Блог</a></li>
      </ul>
    </nav>

    <a href="./#contact" class="btn btn--header">Связаться</a>

<button class="burger" id="burgerBtn" aria-label="Menu">
  <span></span>
  <span></span>
</button>
  </div>
</header>
<div class="mobile-menu" id="mobileMenu">
  <nav class="mobile-menu__nav">
    <a href="./#home" class="mobile-menu__link">Главная</a>
    <a href="./#courses" class="mobile-menu__link">Курсы</a>
    <a href="./#methodology" class="mobile-menu__link">Методология</a>
    <a href="./#mentors" class="mobile-menu__link">Менторы</a>
    <a href="./#blog" class="mobile-menu__link">Блог</a>
    <a href="./#contact" class="btn btn--header">Начать сейчас</a>
  </nav>
</div>